<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.minux.mask_alarmi">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.minux.mask_alarmi.src.ApplicationClass"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/NoActionBar">

        <activity android:name="com.minux.mask_alarmi.src.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.minux.mask_alarmi.src.main.MainActivity" />

        <activity
            android:name="com.minux.mask_alarmi.src.announce.AnnounceActivity" />

<!--        <service android:name=".src.main.GpsTracker" />-->

    </application>
</manifest>